# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Continuous Integration

on:
  push:
    branches: [ main, 'feature/*', 'hotfix/*' ]

jobs:
  setup:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Install dependencies
      run: yarn --frozen-lockfile

  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - name: Run code linter
      run: yarn lint:fix

    - name: Run build
      run: yarn build
    
    - name: Run tests
      run: yarn test

  docs:
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - name: Generate and deploy API documentation
      run: yarn doc